body, html {
    height: 100%;
}

body {
    background-color: #1B4965;
    @media (min-width: 600px) {
        width: 50%;
        margin: 0 auto;
        position: relative;
    }
}

    
h1, h2, h3, h4, h5, h6, .h1 {
    color: white;
    text-align: center;
}

// textarea {
//     width: 50%;
//     height: 50%;
//     text-align: center;
// }