.popMenu {
    background-color: #F3DE8A;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 50px;
    right: 0;
    left: 0;

    // @media (min-width: 600px) {
    //     width: 50%;
    //     margin: auto;
    // }

    & > & {
        bottom: 0;
    }

    &__options {
        background-color: #1282A2;
        color: white;
        border: 4px;
        margin: 1px;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        text-transform: capitalize;
    }
}
