.popMenu {
background-color: #9EB3C2;
display: none;
flex-direction: column;
position: absolute;
top: 0;
bottom: 50px;
right: 0;
left: 0;

@media (min-width: 600px) {
    width: 50%;
    margin: auto;

    }

    &__options {
        background-color: #DADDD8;
        color: white;
        border: 4px;
        margin: 5px;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }
}   


